.top {
    display: flex;
    margin-left: 60px;
    margin-right: 70px;
    align-items: center;
    margin-bottom: 70px;
}
.menu > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-family: 'Playfair Display';
    font-size: 14px;
    margin-left: 55px;
}
.menu > ul > li > a {
    text-decoration: none;
    color: black;
}
.logo {
    font-family: 'Playfair Display';
    font-size: 30px;
    margin-right: 360px;
}

.menu > ul > li:nth-child(2) {
    margin-left: 100px;
    margin-right: 100px;
}
.menu > ul > li:nth-child(3) {
    margin-right: 100px;
}
.leavetext {
    font-family: 'Ubuntu';
    font-size: 14px;
    color: #C2B9AC;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 135px;
}
.order {
    display: flex;
    margin-left: 150px;
}
.left {
    margin-right: 30px;
}
.right {
    margin-left: 30px;
}
.also > .scolor{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 290px;
    background: #f0f0f0;
    margin-left: 150px;
    /* justify-content: space-between; */
}
.also {
    background: #f0f0f0;
}
.also-post {
    width: 250px;
    height: 200px;
}
.also > div > div > img {
    width: 250px;
    height: 200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.also > div > div:nth-child(2) {
    margin-right: 70px;
    margin-left: 70px;
}
.also-like {
    font-family: 'Playfair Display';
    width: 100%;
    font-size: 20px;
    margin-left: 150px;
    padding-top: 50px;
    color: #C7C3B8;
}
.also-title {
    font-family: 'Playfair Display';
    font-size: 20px;
    color: #ACACAC;
    /* font-weight: bold; */
}
.inpute {
    width: 400px;
    height: 28px;
    border: 1px solid black;
    border-width: 0px 0px 1px 0px;
}
.btn {
    height: 31px;
    border: 1px solid black;
    border-width: 0px 0px 1px 0px;
    background: white;
}

.footer-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 70px;
}

.footer-left {
    margin-left: 150px;
}
.follow {
    font-size: 14px;
    font-family: 'Playfair Display';
    margin-right: 25px;
    height: 100px;
}
.instagram {
    background: url("../fonts/instagram.png");
    width: 15px;
    height: 15px;
}
.facebook {
    background: url("../fonts/facebook.png");
    width: 8px;
    height: 14px;
    margin-right: 18px;
    margin-left: 18px;
}
.twitter {
    background: url("../fonts/twitter.png");
    width: 18px;
    height: 13px;
}
.footer {
    padding-top: 70px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
html {
    height: 100%;
}
.footer {
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    width: 100%; 
    height: 100px;
    background: #f0f0f0;
}
.share {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Playfair Display';
    font-size: 15px;
    color: #C7C3B8;
    text-decoration: none;
    margin-top: 40px;
    margin-bottom: 40px;
}
.share > a:nth-child(1) {
    margin-right: 20px;
    margin-left: 20px;
}
.share > a:nth-child(2), .share > a:nth-child(3),.share > a:nth-child(4)  {
    margin-right: 20px;
}
.share > a {
    color: gray
}